body{
    margin: 0;
}
header{
    overflow: hidden;
    border: 1px solid white;
    position: relative;
}
header::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0.5px; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 1.29);
  }
  nav{
    display: flex;
    justify-content: space-between;
  }
  .container{
    max-width: 90%;
    margin-left: 10% !important;
    margin-right: 10% !important;
    }
.hamburger img{
    width: 20px;
}
.cart img{
    width: 20px;
}
.cart{
    padding-top: 4px;
    padding-bottom: 0px;
}
.list ul{
    display: flex;
    flex-direction: column;
    translate: -500px -78px;
    position: absolute;
}
ul li{
    list-style: none;
}
.section1{
    margin: 30px auto 11px;
}
.heading1{
    text-align: center;
    font: bold 20px/18px Lato;
    margin-bottom: 12px;
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cards div{
    border: 2px solid #F5F5FC;
}
.cards img{
    width: 100%;
    height: auto;
}
.cards p{
    padding-left: 14px;
    padding-right: 14px;
    height: 48px;
    font: normal  13px Lato;
}
.cards span{
    padding: 13px;
    font: bold 20px Lato;
}
.cards button{
    margin: 14px;
    padding: 9px;
    background-color: #25AAE1;
    width: 90%;
    font: normal 15px/10px Lato;
    border-radius: 6px;
    color: white;
    border-color: #25AAE1;
    box-shadow: none;
}
.section2{
    background-color: #F9F9F9;
    padding-bottom: 15px;
}
.heading2{
    text-align: center;
    padding-top: 20px;
    font:bold 20px Lato;
    color: #000000CC;
    text-transform: capitalize;
}
.left , .right{
    visibility: hidden;
    translate: -90px 20px;
    position: absolute;
}
.main-card{
    background-color: white;
    margin: 11px auto;
}
.mini-card{
    margin: 32px auto 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image{
    padding-top: 12px;
}
.name{
    margin: 10px auto;
    text-align: center;
    color: #25AAE1;
    font: bold 12px Lato;
}
.owner{
    margin: 7px auto; 
    text-align: center;
    font: italic 9px Lato;
    color: #9A9A9A;
}
.text{
    font: normal 10px Lato;
    color: #000000CC;
    text-align: center;
}
.circle{
    display: flex;
    justify-content: space-between;
    width: 35px;
    height: 5px;
    margin-top: 10px;
    padding-bottom: 10px;
}
.div1{
    border: 1px solid #25AAE1;
    border-radius: 50%;
    background-color: #25AAE1;
    width: 5px;
    height: 5px;
}
.div2{
    border:1px solid #9A9A9A;
    border-radius: 50%;
    width: 5px;
    height: 5px;
}
.section3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading3{
    margin-top: 15px;
    margin-bottom: 15px;
    font: bold 20px Lato;
    text-align: center;
}
.topic{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.topic-1{
    margin-top: 9px;
    color: #25AAE1;
    text-transform: capitalize;
    text-align: left;
    font: normal 10px Lato;
    padding-top: 3px;
    padding-bottom: 15px;
    border: 1px solid white;
    box-shadow: 0px 2px 1px #00000029;
    display: flex;
    justify-content: space-between;
}
.symbol{
    margin-left: 20px;
    padding-bottom: 1px;
    width: 18px;
    height: 18px;
    border: solid 1px #25AAE1;
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
}
.topic-2{
    margin-top: 9px;
    color: black;
    text-transform: capitalize;
    text-align: left;
    font: normal 10px Lato;
    padding-top: 3px;
    padding-bottom: 15px;
    border: 1px solid white;
    box-shadow: 0px 2px 1px #00000029;
    display: flex;
    justify-content: space-between;
}
.ans{
    margin-top: 10px;
    margin-bottom: 16px;
    font: normal 10px Lato;
    width: auto;
    border: 1px solid white;
}
.symbol2{
    margin-left: 20px;
    padding-bottom: 1px;
    width: 18px;
    height: 18px;
    border: solid 1px black;
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
}
footer{
    background-color: #F9F9F9;
    color: #9A9A9A;
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    font: normal 10px Lato;
}

@media (max-width:768px) and (min-width:513px){
    .hamburger{
        visibility: hidden;
        translate: -260px -78px;
        position: absolute;
    }
    nav{
        display: flex;
        justify-content: space-between;
    }
    .cart{
        padding-bottom: 12px;
    }
    .list ul{
        translate: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: relative;
        padding: 0;
    }
    .list ul li{
        margin-left: 10px;
        padding: 10px 14px;
        font: bold 13px Lato;
    }
    .home{
        background-color: #25AAE1;
        color: white;
        border-radius: 4px;
        margin-left: 0px !important;
    }
    .cart img{
        padding-top: 26px;
        width: 24px;
    }
    .cards{
        display: grid;
        grid-template-columns: auto auto;
        column-gap:10%;
        width: 100%;
    }
    .cards div{
        margin: 10px auto;
        width: 100%;
    }
    .cards img{
        width: 100%;
        height: auto;
    }
    .cards p{
        padding-left: 14px;
        padding-right: 14px;
        font: normal  15px Lato;
    }
    .cards span{
        padding: 13px;
        font: bold 20px Lato;
    }
    .text{
        font: normal 12px Lato;
    }
    .topic-1 , .topic-2{
        font: normal 15px Lato;
    }
    .ans{
        margin-bottom: 10px;
        font: normal 12px Lato;
    }
}

@media (min-width:769px){
    .container{
        max-width: 90%;
        margin-left: 10% !important;
        margin-right: 10% !important;
    }
    .hamburger{
        visibility: hidden;
        translate: -260px -78px;
        position: absolute;
    }
    nav{
        display: flex;
        justify-content: space-between;
    }
    .cart{
        padding-bottom: 12px;
    }
    .list ul{
        translate: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: relative;
        padding: 0;
    }
    .list ul li{
        margin-left: 10px;
        padding: 10px 14px;
        font: bold 13px Lato;
    }
    .home{
        background-color: #25AAE1;
        color: white;
        border-radius: 4px;
        margin-left: 0px !important;
    }
    .cart img{
        padding-top: 26px;
        width: 24px;
    }
    .section1{
        margin: 60px auto 22px;
    }
    .heading1{
        font: bold 40px/36px Lato;
        margin-bottom: 35px;
    }
    .cards{
        display: flex;
        flex-direction: row;
        column-gap: 5%;
        width: 100%;
    }
    .cards div{
        width: 33%;
    }
    .cards p{
        padding-left: 14px;
        padding-right: 14px;
        font: normal  14px Lato;
    }
    .cards span{
        padding: 13px;
        font: bold 22px Lato;
    }
    .section2{
        padding-bottom: 61px;
    }
    
    .heading2{
        padding-top: 61px;
        font:bold 40px/36px Lato;
    }
    .main-card{
        margin-top: 33px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .left , .right{
        margin: 169px auto;
        visibility: visible;
        translate: none;
        position: relative;
    }
    .name{
        margin: 14px auto;
        font: bold 24px Lato;
    }
    .owner{
        margin: 7px auto;
        font: italic 18px Lato;
    }
    .text{
        font: normal 16px Lato;
    }
    .div1 , .div2{
        width: 12px;
        height: 12px;
    }
    .circle{
        display: flex;
        justify-content: space-between;
        width: 72px;
        height: 12px;
        margin-top: 20px;
        padding-bottom: 20px;
    }
    .heading3{
        margin-top: 60px;
        margin-bottom: 44px;
        font: bold 40px Lato;
    }
    .topic-1{
        margin-top: 44px;
        font: normal 22px Lato;
        padding-bottom: 20px;
        border: 1px solid white;
    }
    .symbol{
        padding-bottom: initial;
        width: 34px;
        height: 34px;
        font-size: 25px;
    }
    .symbol2{
        padding-bottom: initial;
        width: 34px;
        height: 34px;
        font-size: 25px;
    }
    .ans{
        margin-top: 20px;
        font: normal 16px Lato;
        width: 100%;
        height: auto;
        text-align: left;
    }
    .topic-2{
        margin-top: 18px;
        font: normal 22px Lato;
        padding-bottom: 20px;
    }
    footer{
        margin-top: 39px;
        font: normal 14px Lato;
    }
}